/*
	teal:		(120,192,168,1)
	dk teal:	(96,154,134,1)
	yellow:		(240,168,48,1)
	tan:		(252,235,182,1)
	dk tan:		(215,200,155,1)
	orange:		(240,120,23,1)
	brown:		(94,65,47,1)
*/

body{
	margin:0;
	padding:0;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAZUlEQVQYV2MsO7DyPwMW8O8nL8OfX88Z2Hh5wLKMMIW/Pn+BC4IUMbF/RtEOVohNAqQKWTNjwea5/2HGY3MCTAxuNUwAl+koJiJbhe5mDBNxWY/V18imwTyF4WtsikCexWk1uqcAEZ9NnAa9K0sAAAAASUVORK5CYII=) repeat;
	background-size:5px 5px;
	font-family:'BitstreamVera';
	font-size:62.5%;
}
.mask{
	position:absolute;
	z-index:4;
	top:0;
	left:0;
	display:none;
	width:1024px;
	height:768px;
	background-color:rgba(0,0,0,.25);
}
/******************

HEADER
	
******************/
header{
	background:url(../images/header-texture.jpg);
	background-size:25px 59px;
	border-bottom:2px solid rgba(56,39,28,1);
	overflow:hidden;
}
h1{
	display:block;
	background-image:url(../images/logo-small.png);
	background-repeat:no-repeat;
	width:98.5px;
	height:45px;
	background-size:98.5px 45px;
	float:left;
	padding:0;
	margin:.8% 0 0 1.1%;
}
header ul{
	float:right;
	list-style-type:none;
	padding:0;
	margin:0;
}
header ul li{
	display:inline-block;
	width:100px;
	height:59px;
}
header ul li:not(.styleboard){
	border-width:0 0 0 2px;
	-webkit-border-image:url(../images/border-nav.jpg) 0 0 0 2 repeat;
}
header li a{
	display:block;
	font-size:1.3em;
	color:rgba(252,235,182,1);
	text-decoration:none;
	text-align:center;
	width:100%;
	padding:35% 0 0 0;
}
header li a:not(.styleboard){
	background-position:center 10px;
	background-repeat:no-repeat;
}
header a.navCloset{
	background-image:url(../images/iconHanger.png);
	background-size:35px 18px;
}
header a.navHome{
	background-image:url(../images/iconHome.png);
	background-size:26.5px 18.5px;
}
header a.navAccount{
	background-image:url(../images/iconGear.png);
	background-size:18.5px 18px;
}
header ul li.styleboard{
	width:150px;
	padding:2% 0 0 0;
	margin:0 0 0 0;
	height:44px;
	vertical-align:top;
	border-left:none;
}
li.styleboard a{
	display:block;
	font-family:'BitstreamVeraBold';
	font-size:1.5em;
	line-height:1;
	text-align:center;
	background-color:rgba(120,192,168,1);
	color:white;
	width:88.66667%;
	padding:6% 0 3.5%;
	-webkit-border-radius:4px;
	-webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 1);
	text-decoration:none;
	text-transform:uppercase;
	border-left:none;
}
header a.help{
	display:block;
	height:59px;
	width:59px;
	background-image:url(../images/iconHelp.png);
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center center;
	border-width:0 0 0 2px;
	-webkit-border-image:url(../images/border-nav.jpg) 0 0 0 2 repeat;
}
/******************

SPLASH
	
******************/
#splashScreen{
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,240,191,1) 0%, rgba(252,215,101,1) 100%);
	background-repeat:no-repeat;
	height:672px;
	position:relative;
	z-index:1;
}
#splashScreen:before{
	content: "";
	position: absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url(../images/groovepaper_texture.png);
	background-size:25px 25px;
}
#splashLogo{
	margin:24% 0 0 34.5%;
}
/******************

HOME
	
******************/
#homeContent{
	overflow:hidden;
	position:relative;
}
#homeContent div.utilityBar{
	width:44.5%;
	height:37px;
	padding:10px 0 0 56%;
	background:url(../images/home-utilityBar.png)no-repeat center right;
	background-size:505px 47px;
}
.utilityBar select, .utilityBar input{
	background-color:white;
	color:rgba(94,65,47,1);
	font-family:'BitstreamVera';
	font-size:1.3em;
	width:200px;
	float:left;
}
.utilityBar input{
	width:188px;
	padding:3.8px 6px 3.8px 0;
	margin:2.5px 0 0 15px;
	border:1px solid rgba(94,65,47,.5);
}
.utilityBar button{
	margin:2px 0 0 -4px;
	padding:0;
	width:30px;
	height:23px;
	background-color:rgba(94,65,47,1);
	background-image:url(../images/iconMagGlass.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:11px 12px;
	border:none;
	-webkit-border-radius: 0px 4px 4px 0px;
}
section.feed{
	overflow:hidden;
	padding:35px 0 0 12.5px;
}
.feed .module > a{text-decoration:none;}
.feed div.module{
	width:200px;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,.25);
	float:left;
	margin:0 25px 35px;
}
.module h2{
	font-size:1.6em;
	text-shadow: .5px .5px 1.5px rgba(94,65,47,1);
	padding:8px 5%;
	margin:0;
	width:90%;
	border-bottom:1px solid rgba(252,235,182,1);
	color:rgba(252,235,182,1);
	background-color:rgba(240,120,23,1);
}
.module p{
	margin:-2px 0 0 0;
	padding:5px 5% 5px 0;
	width:95%;
	font-size:1em;
	font-family:'BitstreamVeraItalic';
	line-height:1;
	text-align:right;
	color:rgba(240,120,23,1);
	background-color:rgba(252,235,182,1);
}
.instructionSidebar:after{
	content:"";
	position:absolute;
	z-index:2;
	right:-12.5px;
	top:48%;
	height:37px;
	width:12.5px;
	background-image:url(../images/iconTab-slider.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:12.5px 37px;
}
.instructionSidebar ul{
	margin:36px 0 0 0;
	width:80%;
	padding:0 6% 0 14%;
	color:white;
	font-size:1.5em;
}
.instructionSidebar li{
	line-height:1.5;
	padding-bottom:14px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.35);
}
/*=================
DETAIL
=================*/
section.detail{
	position:absolute;
	top:0;
	right:-912.5px;
	min-height:650px;
	max-height:650px;
	width:900px;
	-webkit-transition: all .15s ease-in;
	-webkit-box-shadow:-2px 5px 15px 0px rgba(0, 0, 0, 0);
	z-index:10;
}
.detail:after{
	content:"";
	position:absolute;
	z-index:2;
	left:-12.5px;
	top:47%;
	-webkit-transform:rotate(180deg);
	width:12.5px;
	height:37px;
	background:url(../images/iconTab-slider.png)no-repeat center center;
	background-size:12.5px 37px;
}
.detail > *{float:left;}
.detail div.infoWrapper{
	min-height:650px;
	max-height:650px;
	min-width:250px;
	max-width:250px;
	overflow:scroll;
}
.detail div.detailTitle{
	background-color:rgba(240,120,23,1);
	color:rgba(252,235,182,1);
	width:250px;
}
.detailTitle h3{
	font-size:1.8em;
	font-family:'BitstreamVeraBold';
	margin:0;
	padding:10px 4%;
	width:92%;
}
.detailTitle p{
	font-family:'BitstreamVeraItalic';
	font-size:1.2em;
	text-align:right;
	padding:10px 4%;
	width:92%;
	margin:0;
}
.detail div.detailInfo{
	width:250px;
}
.detailInfo ul{
	list-style:none;
	padding:0;
	margin:0;
	width:250px;
}
.detailInfo > ul li{
	min-height:79.5px;
	//max-height:79.5px;
	width:100%;
	padding-top:8px;
	color:rgba(94,65,47,1);
	font-size:1.2em;
}
.detailInfo > ul li:nth-of-type(odd){
	background-color:rgba(214,199,154,1);
}
.detailInfo > ul li:nth-of-type(even){
	background-color:rgba(252,235,182,1);
}
.detailInfo > ul li h4{
	color:white;
	background-color:rgba(94,65,47,1);
	font-family:'BitstreamVeraBold';
	font-size:1em;
	margin:0;
	padding:3px 4%;
	width:52%;
}
.detailInfo dl{
	padding:3px 0 0 0;
	margin:0;
	font-size:1em;
	overflow:hidden;
}
.detailInfo dl *{
	float:left;
}
.detailInfo dt{
	display:block;
	padding:2px 2.5% 2px 4%;
	width:21.5%;
	text-align:right;
}
.detailInfo dd{
	display:block;
	width:68%;
	margin:0;
	padding:2px 4% 2px 0;
}
/*=================
AUTHENTICATION
=================*/
#authPanel{
	position:absolute;
	z-index:5;
	top:80px;
	left:-285px;
	-webkit-transition: all .15s ease-in;
	min-height:300px;
	width:285px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYV4WPMQ4AIQgEpaPj/7+ECjruuARDFD0qSXaHEfwdERlENG4DzOwZWgu5m9mAIAYpFkQ8QmewJjqVefrPsyVWjQRsjpVc31/wdjbpoKoev+3CVWFzzMJafAB8x13Ley2Y5wAAAABJRU5ErkJggg==)repeat;
	background-size:5px 5px;
	-webkit-border-radius:7px;
}
#authPanel ul{list-style:none;padding:0;margin:0;width:100%;overflow:hidden;}
#authPanel ul li{float:left;width:50%;text-align:center;}
#authPanel ul li a{
	text-decoration:none;
	font-size:2em;
	color:rgba(94,65,47,1);
	display:block;
	padding:10px 0;
}
#authPanel a.tabJoin{
	width:101%;
	-webkit-border-radius:0px 7px 0px 0px;
}
#authPanel a.tabLogin{
	width:101%;
	-webkit-border-radius:7px 0px 0px 0px;
}
.inactiveTab{
	background-color:rgba(0,0,0,.1);
	-webkit-box-shadow: inset 1px -1px 5px 0px rgba(0, 0, 0, .5);
}
#authPanel .panelLogin, #authPanel .panelJoin{
	width:90%;
	padding:12px 5%;
}
.panelJoin p.inputPrompt{
	color:rgba(94,65,47,1);
	font-size:1.2em;
	margin:0;
	padding:0 0 12px 0;
}
.panelLogin p.errorLogin, .panelJoin p.errorJoin{
	color:rgba(200,0,0,1);
	font-size:1.2em;
	margin:0;
	padding:0 0 12px 0;
}
.panelLogin input{
	width:82%;
	padding:6px 3% 6px 15%;
	font-size:1.4em;
	margin:0 0 10px 0;
	background-repeat:no-repeat;
	background-size:20.5px 20.5px;
	background-position: 9px 5px;
	font-family:'BitstreamVera';
}
.panelJoin input{
	font-family:'BitstreamVera';
	width:94%;
	padding:6px 3%;
	font-size:1.4em;
	margin:0 0 10px 0;
	border:1px solid rgba(94,65,47,.5);
	-webkit-box-shadow:none;
}
.panelLogin input[type=email]{
	background-image:url(../images/iconEnvelope.jpg);
	border:1px solid rgba(94,65,47,.5);
	color:rgba(94,65,47,1);
}
.panelLogin input[type=password]{
	background-image:url(../images/iconLock.jpg);
	border:1px solid rgba(94,65,47,.5);
	color:rgba(94,65,47,1);
}
.panelLogin > a{
	font-size:1.2em;
	color:rgba(120,192,168,1);
	text-decoration:none;
}
#authPanel button{
	width:100%;
	color:white;
	font-size:3.4em;
	font-family:'BitstreamVeraBold';
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(120,192,168)),to(rgb(96,154,134)));
	background-image: -webkit-linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	background-image: linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	-webkit-border-radius:5px;
	padding:6px 0;
	margin:28px 0 10px;
	border:none;
}
#authPanel div.altAuth{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYV4WPMQ4AIQgEpaPj/7+ECjruuARDFD0qSXaHEfwdERlENG4DzOwZWgu5m9mAIAYpFkQ8QmewJjqVefrPsyVWjQRsjpVc31/wdjbpoKoev+3CVWFzzMJafAB8x13Ley2Y5wAAAABJRU5ErkJggg==)repeat;
	-webkit-border-radius:0px 0px 7px 7px;
	overflow:hidden;
}
.altAuth p.divider{
	color:rgba(94,65,47,1);
	position:relative;
	text-align:center;
	font-size:1.2em;
}
.divider:before{
	content:"";
	display:block;
	height:1px;
	width:42%;
	position:absolute;
	left:0;
	top:6.5px;
	border-top:1px solid rgba(94,65,47,1);
}
.divider:after{
	content:"";
	display:block;
	height:1px;
	width:42%;
	position:absolute;
	right:0;
	top:6.5px;
	border-top:1px solid rgba(94,65,47,1);
}
.altAuth > a{
	float:left;
	display:block;
	height:55px;
	width:55px;
	margin:-4px 0 12px 14px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:55px 55px;
}
.altAuth a.facebookLogin{
	background-image:url(../images/iconFacebook.jpg);
}
.altAuth a.twitterLogin{
	background-image:url(../images/iconTwitter.jpg);
}
/******************

ACCOUNT
	
******************/
.accountContent{
	overflow:hidden;
	padding:50px 0 0 0;
}
.infoContainer{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYV4WPMQ4AIQgEpaPj/7+ECjruuARDFD0qSXaHEfwdERlENG4DzOwZWgu5m9mAIAYpFkQ8QmewJjqVefrPsyVWjQRsjpVc31/wdjbpoKoev+3CVWFzzMJafAB8x13Ley2Y5wAAAABJRU5ErkJggg==)repeat;
}
#userInfo{
	-webkit-border-radius: 0px 6px 6px 0px;
	-webkit-box-shadow: inset -1px 2px 4px 0px rgba(0, 0, 0, .75);
	float:left;
	width:57.128906%;
	height:505px;
	overflow:scroll;
}
#userInfo h2{position:relative;}
#userInfo h2 a{
	display:block;
	height:22.5px;
	width:21px;
	background-size:21px 22.5px;
	background-image:url(../images/iconEdit.png);
	background-repeat:no-repeat;
	position:absolute;
	right:7px;
	top:3px;
}
#userNetworks{
	-webkit-border-radius: 6px 0px 0px 6px;
	-webkit-box-shadow: inset 1px 2px 4px 0px rgba(0, 0, 0, .75);
	float:right;
	width:35.15625%;
	overflow:hidden;
}
.infoContainer h2{
	display:inline-block;
	width:300px;
	padding:6px 0 6px 12px;
	margin:15px 0;
	font-size:1.4em;
	color:white;
	text-shadow: 1px 1px .5px rgba(0,0,0,.5);
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAcElEQVQYV2P8uNzgPwMB8PXXXwZGmMLf//4zsDIxgrWAJLjZmFHYYIWEFIF0ML5Zqv8fm0nIrgEZBLcalzNhtoEVfvrxl4GPA+ImZGcgsxkfz9f9T0gRyCCsViP7GmYbWCG24AA5A6YIwzPYTIJ5EgABgmOUxh/HXQAAAABJRU5ErkJggg==)repeat;
}
.infoContainer dl{
	width:100%;
	overflow:hidden;
	font-size:1.6em;
	color:rgba(94,65,47,1);
	margin:0;
	padding:6px 0 0 0;		/***TOGGLE 0[saved] 6[edit] ON SWITCH***/
}
.infoContainer dt{
	//background-color:blue;
	padding:0 0 0 12px;
	font-family:'BitstreamVeraBold';
	text-align:right;
}
#userInfo dt{width:24.916667%;}
#userNetworks dt{width:36.11111%;}
#userNetworks dd a{
	color:rgba(94,65,47,1);
	text-decoration:none;
	border-bottom:1px solid rgba(94,65,47,1);
}
#userInfo dd.aboutMe{line-height:1.5;}
.infoContainer dd{margin-left:20px;
}
#userInfo dd{width:67%;}
.infoContainer dt, .infoContainer dd{
	float:left;
	margin-bottom:30px;
}
#userNetworks h2{float:right;}
.infoContainer input, .infoContainer textarea{
	width:97%;
	margin-top:-6px;
	font-family:'BitstreamVera';
	font-size:1em;
	color:rgba(94,65,47,1);
	border:1px solid rgba(94,65,47,1);
}
.infoContainer textarea{width:100%;}
button:not(.utilityBar button){
	font-family:'BitstreamVeraBold';
	font-size:1.8em;
	color:white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(120,192,168)),to(rgb(96,154,134)));
	background-image: -webkit-linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	background-image: linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	border:none;
	-webkit-border-radius:4px;
	padding:12px 16px 10px;
	margin:-12px 20px 30px 30.35%;
	float:left;
}
.infoContainer dl > a{
	display:inline-block;
	text-decoration:none;
	color:rgba(240,168,48,1);
	border-bottom:1px solid rgba(240,168,48,1);
	padding:5px 0 0 0;
}
/******************

CREATE
STYLEBOARD
	
******************/
#createContent{
	position:relative;
	overflow:hidden;
}
canvas{
	background-image:url(../images/corkboard.jpg);
	background-size:708px 708px;
	height:708px;
	width:708px;
	float:left;
}
p.boardInstruction{
	color:white;
	text-shadow: 1px 1px .5px rgba(0,0,0,.5);
	font-size:2em;
	line-height:1.3;
	display:inline-block;
	position:absolute;
	top:280px;
	left:240px;
}
section.controlPanel{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYV4WPMQ4AIQgEpaPj/7+ECjruuARDFD0qSXaHEfwdERlENG4DzOwZWgu5m9mAIAYpFkQ8QmewJjqVefrPsyVWjQRsjpVc31/wdjbpoKoev+3CVWFzzMJafAB8x13Ley2Y5wAAAABJRU5ErkJggg==)repeat;
	width:316px;
	float:right;
}
div.actionBar{
	overflow:hidden;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAc0lEQVQYV42Q3Q5AMAxG1/3w/m8iEp4Iibgdw8rQkthde9N9ycn5tkEY6qTuMcY8S6VE8c46yyAGcWpZ8U6MSKd1i7St5SYQg/vY5EZkY1m4f5ECMei7ioyIBxmcs5nxPLkQxODS8z9qDdkrvwv6ObBRCl7PJlOl/BjWEgAAAABJRU5ErkJggg==)repeat;
	background-size:5px 5px;
	padding:12px 0;
	border-bottom:2px solid rgba(215,200,155,1);
}
.actionBar a{
	color:white;
	font-size:1.3em;
	text-decoration:none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(120,192,168)),to(rgb(96,154,134)));
	background-image: -webkit-linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	background-image: linear-gradient(top, rgb(120,192,168), rgb(96,154,134));
	-webkit-box-shadow: 0px 1px 1px 1px rgba(72,115,101,1);
	display:block;
	float:left;
	margin:0 12px;
	padding:5px 10px 5px 0;
	width:72px;
	text-align:right;
	-webkit-border-radius:14px;
	position:relative;
}
.actionBar a:first-child{}
.actionBar a:last-child{margin:0 0 0 12px;}
.actionBar a:before{
	position:absolute;
	left:12px;
	display:block;
	background-size:16px 16px;
	height:16px;
	width:16px;
}
.actionBar .actionSave:before{
	content:"";
	background-image:url(../images/iconCheck.png);
}
.actionBar .actionClear:before{
	content:"";
	background-image:url(../images/iconX.png);
}
.actionBar .actionShare:before{
	content:"";
	background-image:url(../images/iconShare.png);
	top:3px;
}
div.boardCreation{
	padding:10px;
	overflow:hidden;
}
.styleboardError{
	color:rgba(200,0,0,1);
	margin:0 0 4px 0;
	font-size:1.3em;
}
.boardCreation label{
	display:block;
	font-size:1.5em;
	font-family:'BitstreamVeraBold';
	color:rgba(94,65,47,1);
	margin:0 0 4px 0;
}
.boardCreation input{
	border:1px solid rgba(94,65,47,.75);
	background-color:white;
	margin:0 0 40px -1px;
	padding:5px 1.5%;
	width:97%;
	font-size:1.5em;
	font-family:'BitstreamVera';
	color:rgba(94,65,47,1);
}
.boardCreation button{
	margin-bottom:25px;
	padding:7px 14px 5px 66px;
	position:relative;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(72,115,101,1);
	float:none;
}
.boardCreation button:before{
	content:"";
	background-image:url(../images/iconCameraUpload.png);
	background-repeat:no-repeat;
	position:absolute;
	left:14px;
	top:14px;
	display:block;
	background-size:36.5px 26px;
	height:26px;
	width:36.5px;
}
.boardCreation p.divider{
	color:rgba(94,65,47,1);
	margin:0 0 16px 0;
	font-size:1.3em;
	text-align:center;
	position:relative;
}
.boardCreation .divider:before{
	content:"";
	display:block;
	height:1px;
	width:125px;
	position:absolute;
	left:0;
	top:6.5px;
	border-top:1px solid rgba(94,65,47,1);
}
.boardCreation .divider:after{
	content:"";
	display:block;
	height:1px;
	width:125px;
	position:absolute;
	right:0;
	top:6.5px;
	border-top:1px solid rgba(94,65,47,1);
}
.boardCreation span{
	font-family:'BitstreamVeraBold';
	color:rgba(94,65,47,1);
	font-size:1.5em;
}
.boardCreation div.miniCloset{
	width:96%;
	padding:1.7% 2% 2% 2.3%;
	margin:5px 0 0 0;
	-webkit-border-radius:6px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAc0lEQVQYV42Q3Q5AMAxG1/3w/m8iEp4Iibgdw8rQkthde9N9ycn5tkEY6qTuMcY8S6VE8c46yyAGcWpZ8U6MSKd1i7St5SYQg/vY5EZkY1m4f5ECMei7ioyIBxmcs5nxPLkQxODS8z9qDdkrvwv6ObBRCl7PJlOl/BjWEgAAAABJRU5ErkJggg==)repeat;
	background-size:5px 5px;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .75);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .75);
	min-height:410px;
	max-height:410px;
	overflow:scroll;
}
.miniCloset div{
	min-width:33.333333%;
	max-width:33.333333%;
	min-height:94px;
	max-height:94px;
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
}
.miniCloset div[data-orientation=landscape]{background-size:74px 49.5px;}
.miniCloset div[data-orientation=portrait]{background-size:49.5px 74px;}
section.newItemPanel, section.instructionSidebar{
	position:absolute;
	top:0;
	left:-341.5px;
	width:341.5px;
	-webkit-transition: all .15s ease-in;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
}
.newItemPanel > div, .instructionSidebar > div{
	min-height:236px;
	max-height:236px;
	background-size:5px 5px;
	position:relative;
}
.newItemPanel div.heading, .instructionSidebar div.heading{
	min-height:62.5px;
	max-height:62.5px;
	background-size:5px 5px;
	position:relative;
	z-index:2;
}
.heading span{
	font-family:'BitstreamVeraItalic';
	font-size:1.5em;
	color:white;
	position:absolute;
	bottom:8.5px;
	left:50px;
}
.instructionSidebar .heading span{font-size:2.4em;}
div.heading:before{
	background-size:26.5px 38px;
}
.stepOne .heading{
	background:url(../images/textureDkYellow.jpg)repeat;
}
.stepOne .heading:before{
	content:"";
	display:block;
	width:32px;
	height:62.5px;
	left:0;
	top:0;
	background:url(../images/num1.png)14px 12px no-repeat;
	position:absolute;
}
.stepTwo .heading{
	background:url(../images/textureDkGreen.jpg)repeat;
}
.stepTwo .heading:before{
	content:"";
	display:block;
	width:40px;
	height:62.5px;
	left:0;
	top:0;
	background:url(../images/num2.png)14px 12px no-repeat;
}
.stepThree .heading{
	background:url(../images/textureDkOrange.jpg)repeat;
}
.stepThree .heading:before{
	content:"";
	display:block;
	width:37px;
	height:62.5px;
	left:0;
	top:0;
	background:url(../images/num3.png)14px 12px no-repeat;
}
.stepOne{background:url(../images/textureYellow.jpg)repeat;}
.stepTwo{background:url(../images/textureGreen.jpg)repeat;}
.stepThree{background:url(../images/textureOrange.jpg)repeat;}
.stepOne > p{
	font-family:'BitstreamVeraItalic';
	font-size:1em;
	line-height:1.4;
	color:white;
	margin:15px 20px 0;
}
.stepOne div.imgHolder{
	width:105px;
	height:105px;
	margin:15px 0 0 116px;
	text-align:center;
}
.stepTwo{overflow:hidden;}
.stepTwo .col1, .stepTwo .col2{
	overflow:hidden;
	padding:14px 0 6px 13px;
	width:150px;
	float:left;
}
.col1 *, .col2 *{float:left;}
.stepTwo select{
	background-color:rgba(252,235,182,1);
	color:rgba(94,65,47,1);
	font-family:'BitstreamVera';
	font-size:1.3em;
	width:100%;
}
.stepTwo select:focus{
	-webkit-box-shadow:none;
}
.col1 select{margin-bottom:-.1px;}
.col2 select{
	margin:2.5px 0 16px;
}
.col2 > a{
	color:rgba(252,235,182,1);
	font-size:1.3em;
	text-decoration:none;
	width:100%;
	padding:6px 0 0;
	text-align:center;
}
.stepTwo input{
	color:rgba(94,65,47,1);
	font-size:1.3em;
	font-family:'BitstreamVera';
	padding:4px 2%;
	margin:16px 0 0;
	width:95%;
}
.stepThree p.newItemError{
	position:absolute;
	top:49px;
	left:0;
	width:90.2%;
	padding:8px 5%;
	background-color:rgba(150,0,0,1);
	color:white;
	font-size:1.3em;
	line-height:1.3;
}
.stepThree > a{
	position:absolute;
	bottom:12px;
	left:16px;
	color:rgba(252,235,182,1);
	text-decoration:none;
	font-size:1.3em;
}
.stepThree button{
	float:none;
	padding:7px 14px 5px 60px;
	margin-top:104px;
	position:relative;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(72,115,101,1);
}
.stepThree button:before{
	content:"";
	background-image:url(../images/iconCheckLg.png);
	background-repeat:no-repeat;
	position:absolute;
	left:14px;
	top:14px;
	display:block;
	background-size:36.5px 26px;
	height:26px;
	width:36.5px;
}
div.helpStyleboard{
	position:absolute;
	z-index:3;
	top:1px;
	left:0;
	width:1024px;
	height:768px;
	background:url(../images/help-styleboard.png)center center no-repeat;
	background-size:1024px 768px;
}
.hide{display:none;}